---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 300;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}

.container.small {

  max-width: 760px;

}

footer {

  text-align: center;

}

a {

  text-decoration: none;

}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding: 20px 0;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 1.2em;
  padding: 20px 0;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  margin: 30px 0 20px 0;
}

h4 {
  margin: 30px 0 20px 0;
}

p {
    font-size: 1em;
    line-height: 1.75em;
}