---
layout: default
---
<div id="post">
    <div class="row">
        <div class="col-12">
            <a class="nodec" href="/" title="Go back to the Home Page"><span class="icon-arrow-left2"></span> Go back to Home Page</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 class="page-title">{{ page.title }}</h1>
            <div class="post-date">
                <time>{{ page.date | date_to_string }}</time> by Emanuele Guicciardi
            </div>
            <div class="post-content">
                {% if page.ext-url == nil %}
                    
                    {{ content }}
                
                {% else %}

                    <p><b>Hi!</b> This post is a link to an external content. Please click <a href="{{page.ext-url}}" target="_blank">here</a> to read it.</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>

